{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<link rel="stylesheet" href="/css/intro.css">
        

<tr><h1>Introduce</h1></tr>
<li>TvShop clothing store is one of the online fashion shopping channels that has been and is being trusted by many young people today. Because when shopping at the store, you not only save a lot of time but can easily find the models you like.</li>
<tr><h1>Contact us</h1></tr>

<li>Address: 41 Cach Mang Thang 8 Street, An Hoa, Ninh Kieu, Can Tho - 0546 465 9675 <br></li>
<li>Order online : <b> 034 6717 388</b></li>
<li>Zalo: 0949908098</li>
{% endblock %}
