{% form_theme u_form 'bootstrap_4_layout.html.twig' %}
{% extends 'base.html.twig' %}

{% block title %}User Manager form{% endblock %}

{% block body %}
    <div class="container">
        {{form_start(u_form)}}
        {{form_widget(u_form)}}
        <input type="submit" value="Submit" class="btn btn-primary" />
        {{form_end(u_form)}}
    </div>
{% endblock %}
