{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <div class="container">
    <a href="{{path('app_home')}}" class='btn btn-danger'>Back</a>
        {{form_start(form)}}
        {{form_widget(form)}}
        {# <input type="submit" value="Submit" class="btn btn-primary" /> #}
        {{form_end(form)}}
      
    <script>
        function showSuccessMessage() {
          var message = "Thông báo đã được gửi thành công!";
          var div = document.createElement("div");
          div.textContent = message;
          div.className = "alert alert-success";
          div.style.display = "block";
          document.body.appendChild(div);
          setTimeout(function() {
            div.parentNode.removeChild(div);
          }, 100000000);
        }
        document.querySelector("form").addEventListener("submit", showSuccessMessage);
    </script>
    </div>
{% endblock %}